<footer class="w-100 bg-ligth mt-5 d-flex align-items-center justify-content-around">
    <div class="icons">
      <a href="http://skype.com.br/@moisas"><i class="fab fa-twitter-square"></i></a>
      <a href="http://instagran.com.br/moisas10"><i class="fab fa-instagram"></i></a>
      <a href="http://facebook.com.br/mopri"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div>
      <p>Portal de receitas &copy; todos os direitos reservados</p>
    </div>
    <div>
      <p>Produzido por Moisés Santos</p>
    </div>
  </footer>