<footer class="w-100 bg-ligth mt-5 d-flex align-items-center justify-content-around">
    <div class="icons">
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
    <div>
      <p>Portal de receitas &copy; todos os direitos reservados</p>
    </div>
    <div>
      <p>Produzido por Moisés Santos</p>
    </div>
  </footer>